torch
torchvision
transformers>=4.51.0
deepspeed==0.14.4
timm==0.9.10
torchdata==0.7.1
numpy
pandas
pyarrow
Pillow
opencv-python==4.6.0.66
decord
PyMuPDF==1.24.10
albumentations
imgaug
einops
opencc-python-reimplemented
func_timeout
scipy
matplotlib
requests
psutil
